body {
    background-image: url("logo.jpeg");
    background-repeat: no-repeat, center;
    background-size: auto;
    opacity: 0.85;
    background-color: blue;
  }

  .homepage {
      background-color: white;
      width: fit-content;
      margin-left: 80px;
      padding: 35px;
  }
 